.vscode
.venv*
.env*
*.edf
*.txt
*.fif
data/features_monopolaire.csv
data/features_bipolaire.csv
logs/

################################
# artefacts lourds
data/processed/
models/
outputs/

# caches
__pycache__/
*.pyc
.ipynb_checkpoints/
